@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: #3b3d43;
}

/* Estilos para los botones */
button {
  border: 0;
  padding: 0;
  font-family: inherit;
  background: transparent;
  color: inherit;
  cursor: pointer;
}

/* Estilo general del navbar */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 64px;
  background: #19191c;
  color: #f9f9f9;
  font-family: "Poppins";
}

/* Estilos para la capa oscura de fondo, por defecto desabilitada */
.navbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: 0.5s;
}

/* Cuando el body tiene la clase open se aplica este css */
body.open .navbar-overlay {
  visibility: visible;
  opacity: 1;
}

/* Estilos para el icono burger */
.navbar-burger {
  position: absolute;
  top: 0;
  left: 0;
  display: grid;
  place-items: center; /* Si queremos centrarlo con esta propiedad tenemos que tener un width y un height */
  width: 64px; /* Es obligatorio darle un width si queremos centrarlo con grid */
  height: 64px; /* Es obligatorio darle un height si queremos centrarlo con un grid */
  padding: 0;
}

/* Estilos para el título dentro del navbar */
.navbar-title {
  margin: 0;
  font-size: 1.5rem;
}

/* Estilos general para el menú lateral solo en móviles, por defecto no se vé porque está fuera de la pantalla */
.navbar-menu {
  position: fixed;
  z-index: 3;
  top: 0;
  left: 0;
  translate: -100% 0;
  width: 150px;
  height: 100%;
  padding: 20px;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  background: #000;
  visibility: hidden;
  transition: all 0.3s;
}

body.open .navbar-menu {
  translate: 0 0;
  visibility: visible;
}

.navbar-menu > button {
  color: rgba(255, 255, 255, 0.5);
  background: transparent;
  padding: 0 8px;
  transition: all 0.3s;
  font-size: 1rem;
}

.navbar-menu > button.active {
  color: inherit;
}

.navbar-menu > button:hover {
  color: rgba(255, 255, 255, 0.75);
}

/* Para pantallas más grandes */
@media only screen and (min-width: 600px) {
  .navbar {
    justify-content: space-between;
    padding: 0 0 0 16px;
  }

  .navbar-overlay {
    display: none; /* Ocultamos el OVERLAY (capa oscura de fondo) */
  }

  .navbar-burger {
    display: none; /* Ocultamos el icono burger */
  }

  .navbar-menu {
    position: static;
    translate: 0 0;
    width: auto;
    background-color: transparent;
    flex-direction: row;
    visibility: visible;
  }
}
